<mat-toolbar>
  <mat-toolbar-row>
    <span class="logo">CourseIT</span>
    <span class="spacer"></span>

    <a class="link" routerLink="/home">Home</a>
    <ng-container [ngSwitch]="currentUserRole$ | async">
      <ng-container *ngSwitchCase="'admin'">
        <a class="link" routerLink="/dashboard/admin/courses">Courses</a>
        <a class="link" routerLink="/dashboard/admin/analytics">Analytics</a>
        <a class="link" routerLink="/dashboard/admin/users">Users</a>
      </ng-container>

      <ng-container *ngSwitchCase="'teacher'">
        <a class="link" routerLink="/dashboard/teacher/analytics">Analytics</a>
        <a class="link" routerLink="/dashboard/teacher/courses">Courses</a>
        <a class="link" routerLink="/dashboard/teacher/students">Students</a>
      </ng-container>

      <ng-container *ngSwitchCase="'student'">
        <a class="link" routerLink="/dashboard/student/catalog"
          >Course Catalog</a
        >
        <a class="link" routerLink="/dashboard/student/interface">Interface</a>
      </ng-container>
    </ng-container>
    <a class="link" routerLink="/profile">Profile</a>
    <span class="material-symbols-outlined logout" (click)="logOut()">
      logout
    </span>
  </mat-toolbar-row>
</mat-toolbar>
