<section class="content">
  <div class="container">
    <h1 class="logo">CourseIT</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="google">
        <app-auth-button (onClick)="signInWithGoogle()"></app-auth-button>
      </div>
      <div class="main-content">
        <div class="card">
          <mat-form-field>
            <input
              formControlName="displayName"
              matInput
              type="text"
              placeholder="name"
            />
          </mat-form-field>
          @if (isRequired('displayName')) {
          <div class="warning-text">
            <span class="block">This field is required</span>
          </div>
          }
          <mat-form-field>
            <input
              formControlName="email"
              matInput
              type="email"
              placeholder="mail@email.com"
            />
          </mat-form-field>
          <div class="warning-text" *ngIf="passwordFormField?.dirty">
            <span>This field is required</span>
          </div>
          @if (isRequired('email')) {
          <small class="warning-text">This field is required</small>
          } @else if (hasEmailError()) {
          <small class="warning-text">Please enter a valid email address</small>
          }
          <mat-form-field>
            <input
              formControlName="password"
              matInput
              type="password"
              placeholder="********"
            />
          </mat-form-field>
          <div class="warning-text" *ngIf="passwordFormField?.dirty">
            <span
              class="block"
              [ngClass]="{
                'text-primary': passwordFormField?.value?.match('^(?=.*[A-Z])')
              }"
              >At least one uppercase letter.</span
            >
            <span
              class="block"
              [ngClass]="{
                'text-primary': passwordFormField?.value?.match('(?=.*[a-z])')
              }"
              >At least one lowercase letter.</span
            >
            <span
              class="block"
              [ngClass]="{
                'text-primary': passwordFormField?.value?.match('(.*[0-9].*)')
              }"
              >At least one digit.</span
            >
            <span
              class="block"
              [ngClass]="{
                'text-primary':
                  passwordFormField?.value?.match('(?=.*[!@#$%^&*])')
              }"
              >At least one special character.</span
            >
            <span
              class="block"
              [ngClass]="{
                'text-primary': passwordFormField?.value?.match('.{8,}')
              }"
              >At least 8 characters long.</span
            >
          </div>
          <button mat-flat-button>Sign Up</button>
        </div>
        <div class="footer">
          <a class="link" routerLink="/auth/recover">Forgot your password?</a>

          <a class="link" routerLink="/auth/Login">Have an account?</a>
        </div>
      </div>
    </form>
  </div>
</section>
