<div class="main-content">
  <section class="main-info">
    <h1>Quality Education</h1>
    @if (showCustomTitle) {
    <h3>
      Thank you for joining us in this amazing community
      {{ user?.displayName | titlecase }}
    </h3>
    }@else{
    <h3>
      Join our community to connect with instructors, enroll in diverse courses,
      and unlock your potential through personalized learning experiences.
    </h3>
    }
    <button (click)="navigateToFAQ()">More info</button>
  </section>
  <section class="banner">
    <img
      class="banner-image-1"
      src="/assets/bannerImg1.jpg"
      alt="First Image of the banner"
    />
    <img
      class="banner-image-2"
      src="/assets/bannerImg2.jpg"
      alt="Second Image of the banner"
    />
    <img
      class="banner-image-3"
      src="/assets/bannerImg3.jpg"
      alt="Third Image of the banner"
    />
    <img
      class="banner-image-4"
      src="/assets/bannerImg4.jpg"
      alt="Fourth Image of the banner"
    />
  </section>
</div>
