<div class="main-content">
  <section class="main-info">
    <h1>Quality Education</h1>

    <h3>
      Join our community to connect with instructors, enroll in diverse courses,
      and unlock your potential through personalized learning experiences.
    </h3>
    <button (click)="navigateToFAQ()">More info</button>
  </section>
  <section class="banner">
    <img
      class="banner-image-1"
      ngSrc="/assets/bannerImg1.jpg"
      width="284"
      height="200"
      alt="First Image of the banner"
      priority
    />
    <img
      class="banner-image-2"
      ngSrc="/assets/bannerImg2.jpg"
      width="284"
      height="230"
      alt="Second Image of the banner"
      priority
    />
    <img
      class="banner-image-3"
      ngSrc="/assets/bannerImg3.jpg"
      width="284"
      height="194"
      alt="Third Image of the banner"
      priority
    />
    <img
      class="banner-image-4"
      ngSrc="/assets/bannerImg4.jpg"
      width="306"
      height="170"
      alt="Fourth Image of the banner"
      priority
    />
  </section>
</div>
