<mat-toolbar>
  <mat-toolbar-row>
    <span class="logo">CourseIT</span>
    <span class="example-spacer"></span>
    <a class="link" routerLink="/auth/register">Sign up</a>
    <a class="link" routerLink="/auth/login">Sign in</a>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main-content">
  <section class="main-info">
    <h1>Quality Education</h1>
    <h3>
      Join our community to connect with instructors, enroll in diverse courses,
      and unlock your potential through personalized learning experiences.
    </h3>
    <button>Get Started</button>
  </section>
  <section class="banner">
    <img
      class="banner-image-1"
      src="/assets/bannerImg1.jpg"
      alt="First Image of the banner"
    />
    <img
      class="banner-image-2"
      src="/assets/bannerImg2.jpg"
      alt="Second Image of the banner"
    />
    <img
      class="banner-image-3"
      src="/assets/bannerImg3.jpg"
      alt="Third Image of the banner"
    />
    <img
      class="banner-image-4"
      src="/assets/bannerImg4.jpg"
      alt="Fourth Image of the banner"
    />
  </section>
</div>
