.main-content {
  display: flex;
  flex-flow: row;
}

.banner {
  position: absolute;
  width: 40rem;
  height: 30.5rem;
  left: 43.375rem;
  top: 7rem;
  filter: drop-shadow(4px 0px 40px rgba(0, 0, 0, 0.25));
}

.banner-image-1 {
  position: absolute;
  left: 5.2%;
  right: 53.19%;
  top: 4.65%;
  bottom: 56.59%;
  border-radius: 40px;
}

.banner-image-2 {
  position: absolute;
  left: 54%;
  top: 0%;
  bottom: 49.61%;
  border-radius: 40px;
}

.banner-image-3 {
  position: absolute;
  top: 53.49%;
  bottom: 0%;
  border-radius: 40px;
}

.banner-image-4 {
  position: absolute;
  left: 49.45%;
  top: 55%;
  bottom: 0%;
  border-radius: 40px;
}

.main-info {
  position: absolute;
  width: 34rem;
  height: 25.25rem;
  left: 2.5rem;
  top: 8rem;
}

.main-info h1 {
  color: var(--main-color);
  font-family: var(--title-font);
  font-weight: bold;
  font-size: var(--title-text-size);
  line-height: 5rem;
}

.main-info h3 {
  font-family: var(--text-font);
  font-weight: medium;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--white-color);
}

.main-info button {
  margin: 1rem 25% 0;
  width: 12rem;
  height: 3.125rem;
  background: var(--secondary-color);
  cursor: pointer;
  border: none;
  border-radius: 1.25rem;
  transition: 0.3s;
}

.main-info button:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0 4px 4px rgba(255, 111, 32, 0.2);
}
