* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #8ac2ff;
  --white-color: #ebdcdc;
  --secondary-color: #e89e77;
  --dark-color: #141415;
  --navbar-color: #20252c;
  --logo-font: Roboto;
  --title-font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --text-font: Arial, Helvetica, sans-serif;
  --regular-text-size: 1.25rem;
  --logo-text-size: 1.75rem;
  --title-text-size: 4.25rem;
  --small-text-size: 0.8rem;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--dark-color);
}

h1 {
  font-family: var(--title-font);
  font-size: var(--title-text-size);
  color: var(--white-color);
}

p {
  font-family: var(--text-font);
  font-size: var(--regular-text-size);
  color: var(--white-color);
}
